![title](images/header.png)

Merging CEO data (phase I 2015-2020) and phase II (2015-2022) for training with calibration and validation split
-------
This notebook merges validated data from the stratified random CEO data (2015-2022) with ceo data from phase II (2015-2022)
For more information contact aurelie.shapiro@fao.org or remi.dannunzio@fao.org

this script merges multiple ceo files and data from CAFI phase I and phase II
you can use the last section to split CEO data into proportions of training and validation
in the parameters you will select your CEO clean files (from CAFI DDD eSBAE merge and clean CEO data)

#### first install libraries and packages

In [310]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# Set the display option to a large value to prevent text wrapping
pd.set_option('display.max_colwidth', None)

#### merge multiple CEO files and combine columns

### parameters

In [542]:
# COD COG CMR GAB EQG CAF
ISO = 'CAF'

In [543]:
# clean ceo data from script 05d
#ceo_phase_II = pd.read_csv('/home/sepal-user/module_results/esbae/GAB/GAB_all_ceo_1522_clean.csv')
#ceo_phase_II = pd.read_csv('/home/sepal-user/module_results/esbae/DRC/DRC_all_ceo_1522_clean.csv')
#ceo_phase_II = pd.read_csv('/home/sepal-user/module_results/esbae/EQG/EQG_all_ceo_1522_clean.csv')
#ceo_phase_II = pd.read_csv('/home/sepal-user/module_results/esbae/COG/COG_all_ceo_1522_1622_clean.csv',low_memory=False)
ceo_phase_II = pd.read_csv('/home/sepal-user/module_results/esbae/CAR/CAR_all_ceo_1522_clean.csv',low_memory=False)
#ceo_phase_II = pd.read_csv('/home/sepal-user/module_results/esbae/CMR/CMR_all_ceo_1522_clean.csv',low_memory=False)

In [544]:
ceo_phase_II.head()

,ID,plotid,sampleid,lon,lat,sample_geom,point_id,Ref_FNF_2015,Ref_Regeneration,Ref_Change_1522,Ref_Change_Type_1522,ArtFor,ArtMine,InfraR,Urb,IndFor,Other,Other_Desc,IndMine,IndAg,ArtAg,Ref_Year,Ref_NFtype,Ref_Ftype,collection,interpreted,Ref_LCover,Ref_Change_Year_1522,Def2016,Def2017,Def2018,Def2019,Def2020,Def2021,Def2022,Deg2016,Deg2017,Deg2018,Deg2019,Deg2020,Deg2021,Deg2022,Defall,Degall,Stable,NF,ISO
0,0,95846,95846,18.078542,7.506790,POINT(18.078542 7.50679),95846,0,non,0,NF,0,0,0,0,0,0,NaN,0,0,NaN,NaN,12.0,NaN,1,1,12,NF,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,CAR
1,1,96933,96933,15.871366,3.284827,POINT(15.871366 3.284827),96933,1,NaN,0,Stable,0,0,0,0,0,0,NaN,0,0,NaN,NaN,NaN,1.0,1,1,1,Stable,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,CAR
2,2,98211,98211,17.214811,5.788864,POINT(17.214811 5.788864),98211,0,non,0,NF,0,0,0,0,0,0,NaN,0,0,NaN,NaN,12.0,NaN,1,1,12,NF,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,CAR
3,3,99242,99242,17.275935,5.866516,POINT(17.275935 5.866516),99242,0,non,0,NF,0,0,0,0,0,0,NaN,0,0,NaN,NaN,12.0,NaN,1,1,12,NF,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,CAR
4,4,99742,99742,17.203630,5.711611,POINT(17.20363 5.711611),99742,0,non,0,NF,0,0,0,0,0,0,NaN,0,0,NaN,NaN,12.0,NaN,1,1,12,NF,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,CAR

In [545]:
phase_II_columns = ceo_phase_II.columns.tolist()
phase_II_columns

['ID',
 'plotid',
 'sampleid',
 'lon',
 'lat',
 'sample_geom',
 'point_id',
 'Ref_FNF_2015',
 'Ref_Regeneration',
 'Ref_Change_1522',
 'Ref_Change_Type_1522',
 'ArtFor',
 'ArtMine',
 'InfraR',
 'Urb',
 'IndFor',
 'Other',
 'Other_Desc',
 'IndMine',
 'IndAg',
 'ArtAg',
 'Ref_Year',
 'Ref_NFtype',
 'Ref_Ftype',
 'collection',
 'interpreted',
 'Ref_LCover',
 'Ref_Change_Year_1522',
 'Def2016',
 'Def2017',
 'Def2018',
 'Def2019',
 'Def2020',
 'Def2021',
 'Def2022',
 'Deg2016',
 'Deg2017',
 'Deg2018',
 'Deg2019',
 'Deg2020',
 'Deg2021',
 'Deg2022',
 'Defall',
 'Degall',
 'Stable',
 'NF',
 'ISO']

In [546]:
ceo_phase_II['interpreted'].value_counts(dropna=False)

interpreted
1    4377
Name: count, dtype: int64

In [547]:
# output file names
# CEO phase I and phase II data
ceo_phase_I_II_out =  '/home/sepal-user/module_results/esbae/CAR/CAR_ceo_1522_phase_I_II.csv'
ceo_phase_I_II_stable_out = '/home/sepal-user/module_results/esbae/CAR/CAR_ceo_1522_phase_I_II_stable.csv'
# stable data split into training and validation
ceo_phase_I_II_stable_out_train = '/home/sepal-user/module_results/esbae/CAR/CAR_all_ceo_1522_phaseI_II_stable_train.csv'
ceo_phase_I_II_stable_out_val = '/home/sepal-user/module_results/esbae/CAR/CAR_all_ceo_1522_phaseI_II_stable_val.csv'

#### CEO phase I data (2015-2020)
##### this file is downloaded from git: https://github.com/aurelgrooves/CAFI_DDD

In [548]:
ceo_phase_I = pd.read_csv('/home/sepal-user/CAFI_DDD/CAFI_all_ceo_validation_2015_2020_uniqueID.csv', low_memory=False)
ceo_phase_I.reset_index(inplace=True)
phase_I_columns = ceo_phase_I.columns.tolist()
phase_I_columns

['index',
 'plotid_orig',
 'CEO_PLOTID',
 'lon',
 'lat',
 'ISO',
 'CEO_Ref_Code',
 'Ref_FNF_2015',
 'Ref_LCover',
 'Ref_Change_Type_1520',
 'Ref_Year_1520',
 'countDrivers',
 'InfraR',
 'Urb',
 'ArtAg',
 'IndAg',
 'ArtFor',
 'IndFor',
 'ArtMine',
 'IndMine',
 'Other',
 'Source',
 'Ref_Change_Year_1520',
 'Change_Bin_1520',
 'UniqueID']

In [549]:
ceo_phase_I.head()

,index,plotid_orig,CEO_PLOTID,lon,lat,ISO,CEO_Ref_Code,Ref_FNF_2015,Ref_LCover,Ref_Change_Type_1520,Ref_Year_1520,countDrivers,InfraR,Urb,ArtAg,IndAg,ArtFor,IndFor,ArtMine,IndMine,Other,Source,Ref_Change_Year_1520,Change_Bin_1520,UniqueID
0,0,171,NaN,24.043094,6.731301,CAF,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,306
1,1,140,NaN,18.704676,8.068803,CAF,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,307
2,2,173,NaN,13.502083,6.592511,CMR,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,308
3,3,174,NaN,23.944998,7.158989,CAF,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,309
4,4,158,NaN,13.697197,8.096830,CMR,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,310

In [550]:
ceo_phase_I['ISO'].value_counts(dropna=False)

ISO
COD    6411
CMR    2442
CAF    2325
GAB    1124
COG     686
EQG     127
Name: count, dtype: int64

In [551]:
ceo_phase_I['interpreted'] = 1

In [552]:
ceo_phase_I_ISO = ceo_phase_I[ceo_phase_I['ISO'] == ISO]
len(ceo_phase_I_ISO)

2325

In [553]:
ceo_phase_I_ISO['Ref_LCover'].value_counts(dropna=False)

Ref_LCover
12    645
4     328
13    254
15    231
11    219
16    153
2     150
1     121
3     118
9      87
14      8
17      7
8       2
10      2
Name: count, dtype: int64

In [554]:
ceo_phase_I_ISO['ArtAg'].value_counts(dropna=False)

ArtAg
0    1932
1     393
Name: count, dtype: int64

In [555]:
# validation proportion
split = 0.3

### end of parameters

In [556]:
# number of validated points
len(ceo_phase_II)

4377

In [557]:
# number of validated points
len(ceo_phase_I_ISO)

2325

In [558]:
#drop columns
ceo_phase_II = ceo_phase_II.drop(['Def2016','Def2017','Def2018',
'Def2019','Def2020','Def2021','Def2022','Deg2016','Deg2017','Deg2018',
'Deg2019','Deg2020','Deg2021','Deg2022', 'Defall', 'Degall','Stable','NF'], axis=1)

In [559]:
ceo_phase_I.head()

,index,plotid_orig,CEO_PLOTID,lon,lat,ISO,CEO_Ref_Code,Ref_FNF_2015,Ref_LCover,Ref_Change_Type_1520,Ref_Year_1520,countDrivers,InfraR,Urb,ArtAg,IndAg,ArtFor,IndFor,ArtMine,IndMine,Other,Source,Ref_Change_Year_1520,Change_Bin_1520,UniqueID,interpreted
0,0,171,NaN,24.043094,6.731301,CAF,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,306,1
1,1,140,NaN,18.704676,8.068803,CAF,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,307,1
2,2,173,NaN,13.502083,6.592511,CMR,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,308,1
3,3,174,NaN,23.944998,7.158989,CAF,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,309,1
4,4,158,NaN,13.697197,8.096830,CMR,12,0,12,NF,NaN,0,0,0,0,0,0,0,0,0,0,ceo,NF,0,310,1

#### merge with phase I data (2015-2020)

In [560]:
data_frames =[ceo_phase_I_ISO, ceo_phase_II]
# Source file names corresponding to each data frame
source_file = ['phase_I', 'phase_II']  # Replace with your file names

# Merge data frames and add a new column for source file name
merged_ceo = pd.concat([df.assign(sampling=source_file) for df, source_file in zip(data_frames, source_file)], ignore_index=True)

In [561]:
# Print or use the merged data frame
merged_ceo.reset_index(inplace=True)
merged_I_columns = merged_ceo.columns.tolist()
merged_I_columns

['level_0',
 'index',
 'plotid_orig',
 'CEO_PLOTID',
 'lon',
 'lat',
 'ISO',
 'CEO_Ref_Code',
 'Ref_FNF_2015',
 'Ref_LCover',
 'Ref_Change_Type_1520',
 'Ref_Year_1520',
 'countDrivers',
 'InfraR',
 'Urb',
 'ArtAg',
 'IndAg',
 'ArtFor',
 'IndFor',
 'ArtMine',
 'IndMine',
 'Other',
 'Source',
 'Ref_Change_Year_1520',
 'Change_Bin_1520',
 'UniqueID',
 'interpreted',
 'sampling',
 'ID',
 'plotid',
 'sampleid',
 'sample_geom',
 'point_id',
 'Ref_Regeneration',
 'Ref_Change_1522',
 'Ref_Change_Type_1522',
 'Other_Desc',
 'Ref_Year',
 'Ref_NFtype',
 'Ref_Ftype',
 'collection',
 'Ref_Change_Year_1522']

In [562]:
column_names = merged_ceo.columns.tolist()
# Print the list of column names
print(column_names)

['level_0', 'index', 'plotid_orig', 'CEO_PLOTID', 'lon', 'lat', 'ISO', 'CEO_Ref_Code', 'Ref_FNF_2015', 'Ref_LCover', 'Ref_Change_Type_1520', 'Ref_Year_1520', 'countDrivers', 'InfraR', 'Urb', 'ArtAg', 'IndAg', 'ArtFor', 'IndFor', 'ArtMine', 'IndMine', 'Other', 'Source', 'Ref_Change_Year_1520', 'Change_Bin_1520', 'UniqueID', 'interpreted', 'sampling', 'ID', 'plotid', 'sampleid', 'sample_geom', 'point_id', 'Ref_Regeneration', 'Ref_Change_1522', 'Ref_Change_Type_1522', 'Other_Desc', 'Ref_Year', 'Ref_NFtype', 'Ref_Ftype', 'collection', 'Ref_Change_Year_1522']

In [563]:
#drop columns
merged_ceo = merged_ceo.drop(['level_0','index','ID'], axis=1)

In [564]:
# Create a new column 'Stable' with initial value 0
merged_ceo['Stable_Forest'] = 0

# Set 'Stable' to 1 where either 'Ref_Change_Type_1520' or 'Ref_Change_Type_1522' is 'Stable'
merged_ceo.loc[(merged_ceo['Ref_Change_Type_1520'] == 'Stable') | (merged_ceo['Ref_Change_Type_1522'] == 'Stable'), 'Stable_Forest'] = 1

# Display value counts of 'Stable' column
print(merged_ceo['Stable_Forest'].value_counts(dropna=False))

Stable_Forest
0    3973
1    2729
Name: count, dtype: int64

In [565]:
# Create a new column 'Ref Change Type' with initial value 0
merged_ceo['Ref_Change_Type'] = 0

In [566]:
merged_ceo['Ref_Change_Type'] = merged_ceo['Ref_Change_Type_1520'].fillna(merged_ceo['Ref_Change_Type_1522'])

In [567]:
print(merged_ceo['Ref_Change_Type'].value_counts(dropna=False))

Ref_Change_Type
NF        3420
Stable    2729
Def        324
Deg        229
Name: count, dtype: int64

In [568]:
merged_ceo['Ref_Change_Bin'] = merged_ceo['Ref_Change_Type'].apply(lambda x:1 if x in ['Def','Deg'] else 0)
merged_ceo['Ref_Change_Bin'].value_counts(dropna=False)

Ref_Change_Bin
0    6149
1     553
Name: count, dtype: int64

In [569]:
merged_ceo['Ref_LCover'].value_counts(dropna=False)

Ref_LCover
12    1942
15    1026
11     977
13     876
1      512
4      433
2      288
9      251
16     193
3      167
14      15
8       10
17      10
10       2
Name: count, dtype: int64

In [570]:
#create a new column for forest:1, non-forest:2, water: 3
# Define the conditions
conditions = [
    (merged_ceo['Ref_LCover'] >= 1) & (merged_ceo['Ref_LCover'] <= 11),
    (merged_ceo['Ref_LCover'] >= 12) & (merged_ceo['Ref_LCover'] <= 17)|(merged_ceo['Ref_LCover'] == 19) ,
    (merged_ceo['Ref_LCover'] == 18)
]

# Define the values to assign for each condition
values = [1, 2, 3]

# Use numpy.select() to assign values based on conditions
merged_ceo['Ref_FNFW'] = np.select(conditions, values, default=np.nan)
merged_ceo['Ref_FNFW'] = merged_ceo['Ref_FNFW'].astype(int)
# Print the DataFrame with the new column
merged_ceo.head()

,plotid_orig,CEO_PLOTID,lon,lat,ISO,CEO_Ref_Code,Ref_FNF_2015,Ref_LCover,Ref_Change_Type_1520,Ref_Year_1520,countDrivers,InfraR,Urb,ArtAg,IndAg,ArtFor,IndFor,ArtMine,IndMine,Other,Source,Ref_Change_Year_1520,Change_Bin_1520,UniqueID,interpreted,sampling,plotid,sampleid,sample_geom,point_id,Ref_Regeneration,Ref_Change_1522,Ref_Change_Type_1522,Other_Desc,Ref_Year,Ref_NFtype,Ref_Ftype,collection,Ref_Change_Year_1522,Stable_Forest,Ref_Change_Type,Ref_Change_Bin,Ref_FNFW
0,171.0,NaN,24.043094,6.731301,CAF,12.0,0,12,NF,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,NF,0.0,306.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NF,0,2
1,140.0,NaN,18.704676,8.068803,CAF,12.0,0,12,NF,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,NF,0.0,307.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NF,0,2
2,174.0,NaN,23.944998,7.158989,CAF,12.0,0,12,NF,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,NF,0.0,309.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NF,0,2
3,74.0,NaN,16.946763,4.172719,CAF,1.0,1,1,Stable,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,Stable,0.0,134.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Stable,0,1
4,133.0,NaN,16.418823,4.139033,CAF,1.0,1,1,Stable,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,Stable,0.0,227.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Stable,0,1

In [571]:
merged_ceo['Ref_FNFW'].value_counts(dropna=False)

Ref_FNFW
2    4062
1    2640
Name: count, dtype: int64

In [572]:
merged_ceo['interpreted'].value_counts(dropna=False)

interpreted
1    6702
Name: count, dtype: int64

#### split stable data into training and calibration for land cover classification

In [573]:
# Filter rows where 'Stable' equals 1
stable_rows = merged_ceo[(merged_ceo['Ref_Change_Bin'] == 0)]

In [574]:
stable_rows.head()

,plotid_orig,CEO_PLOTID,lon,lat,ISO,CEO_Ref_Code,Ref_FNF_2015,Ref_LCover,Ref_Change_Type_1520,Ref_Year_1520,countDrivers,InfraR,Urb,ArtAg,IndAg,ArtFor,IndFor,ArtMine,IndMine,Other,Source,Ref_Change_Year_1520,Change_Bin_1520,UniqueID,interpreted,sampling,plotid,sampleid,sample_geom,point_id,Ref_Regeneration,Ref_Change_1522,Ref_Change_Type_1522,Other_Desc,Ref_Year,Ref_NFtype,Ref_Ftype,collection,Ref_Change_Year_1522,Stable_Forest,Ref_Change_Type,Ref_Change_Bin,Ref_FNFW
0,171.0,NaN,24.043094,6.731301,CAF,12.0,0,12,NF,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,NF,0.0,306.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NF,0,2
1,140.0,NaN,18.704676,8.068803,CAF,12.0,0,12,NF,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,NF,0.0,307.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NF,0,2
2,174.0,NaN,23.944998,7.158989,CAF,12.0,0,12,NF,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,NF,0.0,309.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NF,0,2
3,74.0,NaN,16.946763,4.172719,CAF,1.0,1,1,Stable,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,Stable,0.0,134.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Stable,0,1
4,133.0,NaN,16.418823,4.139033,CAF,1.0,1,1,Stable,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,Stable,0.0,227.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Stable,0,1

In [575]:
# Define an empty DataFrame to store the split data
split_data = pd.DataFrame()

# Iterate over unique values in 'landcover' column
for landcover_value in stable_rows['Ref_LCover'].unique():
    # Filter rows for current landcover value
    landcover_rows = stable_rows[stable_rows['Ref_LCover'] == landcover_value]
    
    # Check if there is enough data to split
    if len(landcover_rows) > 1:
        # Split data into training and validation sets
        train_data, val_data = train_test_split(landcover_rows, test_size=split, random_state=42)
        
        # Add 'Split' column and assign 'train' or 'val' based on split
        train_data['split'] = 'train'
        val_data['split'] = 'val'
        
        # Concatenate data to the split_data DataFrame
        split_data = pd.concat([split_data, train_data, val_data], ignore_index=True)
    else:
        # Not enough data for splitting, assign all data as calibration data
        landcover_rows['split'] = 'train'
        split_data = pd.concat([split_data, landcover_rows], ignore_index=True)

split_data.head()

,plotid_orig,CEO_PLOTID,lon,lat,ISO,CEO_Ref_Code,Ref_FNF_2015,Ref_LCover,Ref_Change_Type_1520,Ref_Year_1520,countDrivers,InfraR,Urb,ArtAg,IndAg,ArtFor,IndFor,ArtMine,IndMine,Other,Source,Ref_Change_Year_1520,Change_Bin_1520,UniqueID,interpreted,sampling,plotid,sampleid,sample_geom,point_id,Ref_Regeneration,Ref_Change_1522,Ref_Change_Type_1522,Other_Desc,Ref_Year,Ref_NFtype,Ref_Ftype,collection,Ref_Change_Year_1522,Stable_Forest,Ref_Change_Type,Ref_Change_Bin,Ref_FNFW,split
0,NaN,NaN,20.907628,8.667532,CAR,NaN,0,12,NaN,NaN,NaN,0,0,NaN,0,0,0,0,0,0,NaN,NaN,NaN,NaN,1,phase_II,232653.0,232653.0,POINT(20.907628 8.667532),232653.0,non,0.0,NF,NaN,NaN,12.0,NaN,2.0,NF,0,NF,0,2,train
1,NaN,NaN,22.089044,8.313740,CAR,NaN,0,12,NaN,NaN,NaN,0,0,NaN,0,0,0,0,0,0,NaN,NaN,NaN,NaN,1,phase_II,317604.0,317604.0,POINT(22.089044 8.31374),317604.0,non,0.0,NF,NaN,NaN,12.0,NaN,2.0,NF,0,NF,0,2,train
2,34908.0,1189,20.777628,5.023783,CAF,12.0,1,12,Stable,NaN,0.0,0,0,0.0,0,0,0,0,0,0,ceo,Stable,0.0,1527.0,1,phase_I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Stable,0,2,train
3,NaN,NaN,22.692569,6.292608,CAR,NaN,0,12,NaN,NaN,NaN,0,0,NaN,0,0,0,0,0,0,NaN,NaN,NaN,NaN,1,phase_II,405929.0,405929.0,POINT(22.692569 6.292608),405929.0,non,0.0,NF,NaN,NaN,12.0,NaN,2.0,NF,0,NF,0,2,train
4,NaN,NaN,25.269367,5.568292,CAR,NaN,0,12,NaN,NaN,NaN,0,0,NaN,0,0,0,0,0,0,NaN,NaN,NaN,NaN,1,phase_II,504960.0,504960.0,POINT(25.269367 5.568292),504960.0,non,0.0,NF,NaN,NaN,12.0,NaN,2.0,NF,0,NF,0,2,train

In [576]:
# Print summaries
split_data['split'].value_counts(dropna=False)

split
train    4300
val      1849
Name: count, dtype: int64

In [577]:
pd.pivot_table(split_data,values='point_id',index=['Ref_LCover'],columns=['split'],aggfunc="count")

split       train  val
Ref_LCover
1             265  102
2              89   42
3              29   12
4              75   27
8               5    3
9             108   54
10              0    0
11            503  219
12            907  390
13            428  194
14              4    3
15            554  241
16             28   12
17              2    1

#### Export

In [578]:
# export merged phase I and II data
all_ceo_data =  ceo_phase_I_II_out
merged_ceo.to_csv(all_ceo_data,index_label='ID')
stable_rows.to_csv(ceo_phase_I_II_stable_out,index_label='ID')

In [579]:
# export only stable data with training and validation split
split_data_train = split_data[(split_data['split'] == 'train')]
split_data.to_csv(ceo_phase_I_II_stable_out_train,index_label='ID')

In [580]:
# export only stable data with training and validation split
split_data_val = split_data[(split_data['split'] == 'val')]
split_data_val.to_csv(ceo_phase_I_II_stable_out_val,index_label='ID')